
#d1908e   #d11919

body {
  color: #666666;
  font-family: "Open Sans", sans-serif;

  background: #fff;

  overflow-x: hidden;
}

a {
  color: #d1908e;
  text-decoration: none;

  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #d1908e;
  text-decoration: none;

  outline: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 0;

  visibility: hidden;

  width: 64px;
  height: 34px;
  
  color: #fff;

  border-radius: 4px 4px 0 0;

  background: linear-gradient(45deg, #d1908e, #d1908e);
  
  opacity: 0;
  transition: none;
}

.back-to-top i {
  line-height: 0;
  font-size: 20px;
}

.back-to-top:focus {
  color: #fff;

  background: linear-gradient(45deg, #d1908e, #d1908e);
  outline: none;
}

.back-to-top:hover {
  color: #fff;

  background: #d11919; 
}

.back-to-top.active {
  visibility: visible;

  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;

  height: 110px;

  background: #d1908e;

  transition: all 0.5s;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  height: 110px;

  background: linear-gradient(45deg, #d1908e, #d1908e);

  transition: all 0.5s;
}


@media (max-width: 768px) {
  #header #logo img {
    max-height: 80px;
    max-width: 80px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  list-style-type: none;
  
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;

  padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;

  padding: 0 2px;

  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 0.4px; 
  color: rgba(255, 255, 255, 0.8);
  
  transition: 0.3s; 
}

.navbar a i,
.navbar a:focus i {
  margin-left: 5px;

  font-size: 12px;
  line-height: 0; 
}

.navbar>ul>li>a:before {
  content: "";

  position: absolute;
  bottom: -8px;
  left: 0;

  visibility: hidden;
  
  width: 100%;
  height: 2px;
  
  background-color: #fff;
  
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;

  transform: scaleX(1);
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}


/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  display: none;
    
  color: #fff;
  font-size: 28px;
  line-height: 0;

  cursor: pointer;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 999;

  overflow: hidden;
  
  background: rgba(26, 26, 26, 0.9);

  transition: 0.3s; 
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 55vh;
  left: 15px;

  display: block;
  overflow-y: auto;
  
  padding: 10px 0;

  background-color: #fff;

  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;

  font-size: 15px;
  color: #333333;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #d11919;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero { 
  position: relative;

  width: 100%;
  height: 55vh;

  background: linear-gradient(45deg, rgba(209, 144, 142, 0.8), rgba(209, 144, 142, 0.8)), url("../img/hero-bg.jpg") center top no-repeat;
  background-size: cover; 
}

@media (min-width: 1025px) {
  #hero {
    background-attachment: fixed;
  }
}


#hero .hero-text {
  position: absolute;
  left: 0;
  top: 100px;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: calc(50% - 60px);

  text-align: center;
}


#hero h2 {
  margin: 40px 0 10px 0;
  padding: 0 15px;

  font-size: 45px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 35px;
    line-height: 36px;
  }
}

#hero p {
  margin-bottom: 20px;
  padding: 0 15px;

  color: #fff;

  font-size: 22px;
}

@media (max-width: 768px) {
  #hero p {
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 24px;
  }
}

#hero .btn-get-started {
  display: inline-block;

  padding: 8px 28px;
  margin: 10px;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;

  border-radius: 50px;
  border: 2px solid #fff;

  transition: 0.5s;
}

#hero .btn-get-started:hover {
  color: #d11919;

  background: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  overflow: hidden;

  width: 100%;
  padding: 0 7vw;
}

/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-align: center;
  font-weight: 600;
}

.section-header .section-description {
  padding-bottom: 40px;

  text-align: center;
  color: #777;
  font-style: italic;  
}

.section-header .section-divider {
  display: block;

  width: 60px;
  height: 3px;
  margin: 0 auto;
  margin-bottom: 20px;

  background: #d11919;
  background: linear-gradient(0deg, #d11919 0%, #d11919 100%);
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #fafafa;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  min-height: 40px;
  margin-top: 92px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
}

.breadcrumbs h2 {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  content: "/";

  display: inline-block;

  padding-right: 10px;

  color: #6c757d; 
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/* About Us Section
--------------------------------*/
#about {
  padding-top: 60px;
  padding-bottom: 60px;

  overflow: hidden;
}

#about .about-img {
  height: 510px;
}

#about .about-img img {
  max-width: 100%;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }

  #about .about-img img {
    padding-bottom: 30px;
  }
}

#about .content .h2 {
  color: #333;
  font-weight: 300;
  font-size: 24px;
}

#about .content h3 {
  line-height: 26px;

  color: #777;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
}

#about .content p {
  line-height: 26px;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  padding-right: 4px;

  font-size: 20px;
  color: #d11919;
}

#about .content ul {
  list-style-type: none;

  padding: 0;
}

#about .content ul li {
  padding-bottom: 10px;
}

/* Product Features Section
--------------------------------*/
#features {
  overflow: hidden;

  padding-top: 60px;

  background: #fff;
}

#features .features-img {
  text-align: center;
}

@media (min-width: 1000px) {
  #features .features-img {
    padding-top: 120px;
    margin-top: -200px;
  }
}

#features .features-img img {
  max-width: 100%;
}

#features .box {
  margin-bottom: 15px;

  text-align: center;
}

#features .icon {
  margin-bottom: 10px;
}

#features .icon i {
  color: #666666;
  font-size: 40px;

  transition: 0.5s;
}

#features .icon i:before {
  background: #d11919;
  background: linear-gradient(45deg, #d11919 0%, #d11919 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#features .title {
  margin-bottom: 15px;

  font-weight: 300;
  font-size: 22px;
}

#features .title a {
  color: #111;
}

#features .description {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 24px;
}

#features .section-description {
  padding-bottom: 10px;
}

/* Product Advanced Featuress Section
--------------------------------*/
#advanced-features {
  overflow: hidden;

  margin: auto;
  padding: 0 5vw;

}

#advanced-features .features-row {
  padding: 60px 0 30px 0;
}

#advanced-features h2 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

#advanced-features h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #999;
}

#advanced-features p {
  margin-bottom: 30px;

  line-height: 24px;
  color: #777;
}

#advanced-features i {
  float: left;

  padding: 0 15px 0px 0;

  color: #666666;
  font-size: 64px;
  line-height: 1;

  transition: 0.5s;
}

#advanced-features i:before {
  background: #d11919;
  background: linear-gradient(45deg, #d11919 0%, #d11919 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#advanced-features .advanced-feature-img-right {
  float: right;

  max-width: 100%;
  padding: 0 0 30px 30px;
}

#advanced-features .advanced-feature-img-left {
  float: left;
  max-width: 100%;
  
  padding: 0 30px 30px 0;
}

@media (max-width: 1000px) {

  #advanced-features .advanced-feature-img-right,
  #advanced-features .advanced-feature-img-left {
    display: block;

    max-width: 70%;
    margin: auto;
  }
}

@media (max-width: 1000px) {

  #advanced-features .advanced-feature-img-right,
  #advanced-features .advanced-feature-img-left {
    float: none;

    max-width: 100%;
    padding: 0 0 30px 0;
  }
}

/* More Features Section
--------------------------------*/
#more-features {
  overflow: hidden;

  padding: 60px 0 60px 0;
}

#more-features .box {
  padding: 40px;
  margin-bottom: 30px;
  height: 100%;

  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15); 
  background: #fff;

  transition: 0.4s;
}

#more-features .icon {
  float: left;
}

#more-features .icon i {
  color: #666666;
  font-size: 80px;
  line-height: 0;

  transition: 0.5s;
}

#more-features .icon i:before {
  background: #d11919;
  background: linear-gradient(45deg, #d11919 0%, #d11919 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#more-features h4 {
  margin-left: 100px;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 18px;
}

#more-features h4 a {
  color: #111;
}

#more-features p {
  margin-left: 100px;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 767px) {
  #more-features .box {
    margin-bottom: 20px;
  }

  #more-features .icon { 
    float: none;

    padding-bottom: 15px;

    text-align: center;
  }

  #more-features h4,
  #more-features p {
    margin-left: 0;

    text-align: center;
  }
}

/* Frequently Asked Questions Section
--------------------------------*/
#faq {
  overflow: hidden;

  padding: 60px 0;
}

#faq .faq-list {
  list-style: none;

  padding: 0;
}

#faq .faq-list li {
  margin-bottom: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid #f0f0f0;
}

#faq .faq-list .question {
  position: relative;

  display: block;

  padding-left: 25px;
  
  font-family: #d11919;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #179ca0;

  transition: 0.3s;

  cursor: pointer;
}

#faq .faq-list i {
  position: absolute;
  left: 0;
  top: -2px;

  font-size: 16px;
}

#faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
}

#faq .faq-list .icon-show {
  display: none;
}

#faq .faq-list .collapsed {
  color: black;
}

#faq .faq-list .collapsed:hover {
  color: #d11919;
}

#faq .faq-list .collapsed .icon-show {
  display: inline-block;

  transition: 0.6s;
}

#faq .faq-list .collapsed .icon-close {
  display: none;

  transition: 0.6s;
}

/* Contact Section
--------------------------------*/
#contact {
  padding: 60px 0;

  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);

  overflow: hidden;
}

#contact .contact-about h3 {
  margin: 0 0 10px 0;
  padding: 0;

  font-size: 36px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #d11919;  
}

#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #808080;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 8px 0;
  margin-right: 4px;
  width: 36px;
  height: 36px;

  font-size: 18px;
  color: #d11919;

  border-radius: 50%;
  border: 1px solid #d11919;

  background: #fff;
  
  transition: 0.3s;
}

#contact .social-links a i {
  line-height: 0;
}

#contact .social-links a:hover {
  color: #fff;

  background: #d11919;
}

#contact .info {
  color: #808080;
}

#contact .info i {
  float: left;

  font-size: 32px;
  line-height: 0;
  color: #d11919;
}

#contact .info p {
  padding: 0 0 10px 42px;

  line-height: 28px;
  font-size: 14px;
}

#contact .php-email-form .error-message {
  display: none;

  padding: 15px;

  color: #808080;
  text-align: center;
  font-weight: 600;

  background: #ed3c0d;
}

#contact .php-email-form .sent-message {
  display: none;

  padding: 15px; 

  color: #808080;
  text-align: center;
  font-weight: 600;

  background: red;
}

#contact .php-email-form .loading {
  display: none;

  padding: 15px;

  text-align: center;

  background: #fff;
}

#contact .php-email-form .loading:before {
  display: inline-block;

  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;

  border-radius: 50%;
  border: 3px solid red;

  content: "";
}

#contact .php-email-form input,
#contact .php-email-form textarea {
  font-size: 14px;
  color: whitesmoke;
  
  border-radius: 8px;
  border: 5px solid black;
  background-color: #333;
  box-shadow: none;
}

#contact .php-email-form input::focus,
#contact .php-email-form textarea::focus {
  background-color: #d11919;
}

#contact .php-email-form button[type=submit] {
  padding: 8px 30px;
  
  color: #fff;

  background: linear-gradient(45deg, #d11919, #d11919);

  border: 0;
  border-radius: 20px;

}

#contact .php-email-form button[type=submit]:hover {
  cursor: pointer;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#contact {
  padding: 30px 0;

  color: #808080;
  font-size: 14px;

  background: #000;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#contact .credits {
  font-size: 13px;
  color: #808080;
}

#contact .footer-links {
  float: right;
}

#contact .footer-links a {
  padding-left: 25px;

  color: #808080; 
}

#contact .footer-links a:first-child {
  padding-left: 0;
}

#contact .footer-links a:hover {
  color: #d11919;
}

@media (max-width: 1000px) {
  #contact .footer-links {
    float: none;
  }
}